<template>
	<div class="bg-gray-300">
		<div class="bg-white">
			<div class="w-2/3 mx-auto h-full bg-white mb-16">
				<div class="w-full">
					<h1><----- Back</h1>
				</div>

				<div class="flex w-full justify-between mt-12 pb-12">
					<div class="flex w-1/2">
						<div class="w-1/5">
							<img src="~/assets/redlogo.png">
						</div>

						<div class="w-4/5">
							<p class="text-sm text-gray-700">
								Posted On: 5 days ago| 105 total views, 3 today
							</p>
							<h1 class="text-3xl font-bold">
								Type Something 49
							</h1>
							<p class="text-sm text-gray-700">
								Mirko entertainment. https//mariko.blogspot.com/.
							</p>
							<p class="text-sm text-gray-700">
								Remote. Salary-1,000,000 MMK (Negotiable)
							</p>
						</div>
					</div>
				</div>

				<div class="w-full flex h-16">
					<div class="mr-6 flex">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/></svg>
						<a href="" class="font-gray-700 ml-2">
							Upgrade to premium
						</a>
					</div>
					<div class="mr-6 flex">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/></svg>
						<a href="" class="font-gray-700 ml-2">Share this job</a>
					</div>
					<div class="mr-6 flex">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
						<a href="" class="font-gray-700 ml-2">
							122 interested
						</a>
					</div>
					<div class="mr-6 flex">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M6.3 12.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H7a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM8 16h2.59l9-9L17 4.41l-9 9V16zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2h6a1 1 0 0 1 0 2H4v14h14v-6z"/></svg>
						<a href="" class="font-gray-700 ml-2">Edit profile</a>
					</div>
					<div class="mr-6 flex">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M8 6V4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8H3a1 1 0 1 1 0-2h5zM6 8v12h12V8H6zm8-2V4h-4v2h4zm-4 4a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1z"/></svg>
						<a href="" class="font-gray-700 ml-2">Delete</a>
					</div>
				</div>
			</div>
		</div>

		<div class="w-full mx-auto">
			<div class="bg-gray-300 w-2/3 mx-auto pb-32">
				<div class="w-full h-64 flex">
					<div class="w-2/3 bg-white p-4 rounded">
						<h1 class="mb-4 font-bold">Title Here</h1>
						<p class="text-sm mb-2">
							Must have good English skills.Must have good English skillsMust have good English skillsMust have good English skillsMust have good English skillsMust have good English skills
						</p>
						<p class="text-sm mb-2">Ideal candidate</p>
						<p class="text-sm"> 
							Must have good English skills.Must have good English skillsMust have good English skillsMust have good English skillsMust have good English skillsMust have good English skills
						</p>
					</div>
					<div class="bg-gray-500 ml-8 w-1/3 flex rounded">
						<h1 class="m-auto">Ads</h1>
					</div>
				</div>
			</div>

			<div class="w-2/3 mx-auto pb-16">
				<div>
					<h1 class="text-3xl mb-4">
						Similar Jobs
					</h1>
				</div>
				<div class="w-full bg-white h-32 flex rounded-lg mb-4">
					<div class="h-full w-32">
						
						<img src="~/assets/redlogo.png" class="w-24 h-32">
					</div>
					<div class="h-full w-2/5 flex-col flex justify-center">
						<h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
						<p class="px-4 text-sm text-gray-700">Company Name</p>
						<p class="px-4">Company Name</p>
					</div>
					<div class="h-full flex flex-col">
						<p class="text-gray-700 my-auto">
							Full Time . 2 days ago
						</p>
					</div>
				</div>

				<div class="w-full bg-white h-32 flex rounded-lg mb-4">
					<div class="h-full w-32">
						
						<img src="~/assets/redlogo.png" class="w-24 h-32">
					</div>
					<div class="h-full w-2/5 flex-col flex justify-center">
						<h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
						<p class="px-4 text-sm text-gray-700">Company Name</p>
						<p class="px-4">Company Name</p>
					</div>
					<div class="h-full flex flex-col">
						<p class="text-gray-700 my-auto">
							Full Time . 2 days ago
						</p>
					</div>
				</div>

				<div class="w-full bg-white h-32 flex rounded-lg mb-4">
					<div class="h-full w-32">
						<img src="~/assets/redlogo.png" class="w-24 h-32">
					</div>
					<div class="h-full w-2/5 flex-col flex justify-center">
						<h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
						<p class="px-4 text-sm text-gray-700">Company Name</p>
						<p class="px-4">Company Name</p>
					</div>
					<div class="h-full flex flex-col">
						<p class="text-gray-700 my-auto">
							Full Time . 2 days ago
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>