<template>
<div class="">
  <div class="w-full flex flex-col h-56 bg-blue-900">
    <h1 class="text-4xl text-white mx-auto block mt-6">
      The #1 Place For Developer & <br> Designer Jobs
    </h1>
    <p class="mx-auto text-gray-500 mt-2">Connection Between Developers/Designers and Companies</p>
    <div class="bg-white w-2/3 flex flex-row items-center mx-auto rounded mt-8 shadow-lg">
      <button type="submit" class="ml-4">
        <svg class="text-gray-600 fill-current" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
          viewBox="0 0 56.966 56.966" style="height:25px; width:25px; enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
          width="512px" height="512px">
          <path
          d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
        </svg>
      </button>

      <input type="search" name="search" id="search" placeholder="Try:Develper,PHP,Designer,UI..." class="mx-auto rounded h-12 w-7/12 focus:outline-none">
        <div class="">  
          <select class="border-l-2 border-gray-400 h-10 bg-white px-2 focus:outline-none" value="Job Type">         
            <option value="volvo">Developer</option>
            <option value="saab">Designer</option>
            <option value="mercedes">Frontend</option>
            <option value="audi">Backend</option>                
          </select>
          <button type="submit" class="bg-red-700 py-4 px-2 rounded-r text-white">Search Now</button>
        </div>
    </div>
  </div>
  <div class="bg-gray-300">
    <div class="h-auto w-2/3 mx-auto pt-16 pb-16">
      
      <div class="w-full bg-white h-32 flex rounded-lg mb-4 hover:shadow-lg transition-shadow duration-500 ease-in-out">
        <div class="h-full w-32">
          <img src="~/assets/redlogo.png" class="w-16 h-16">
        </div>
        <div class="h-full w-2/5 h-40 flex-col flex justify-center">
          <h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
          <p class="px-4 text-sm text-gray-700">Company Name</p>
          <p class="px-4">Company Name</p>
        </div>
        <div class="h-full flex flex-col">
          <p class="text-gray-700 my-auto">
            Full Time . 2 days ago
          </p>
        </div>
      </div>

      <div class="w-full bg-white h-32 flex rounded-lg mb-4 hover:shadow-lg transition-shadow duration-500 ease-in-out">
        <div class="h-full w-32">
          <img src="~/assets/redlogo.png" class="w-16 h-16">
        </div>
        <div class="h-full w-2/5 h-40 flex-col flex justify-center">
          <h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
          <p class="px-4 text-sm text-gray-700">Company Name</p>
          <p class="px-4">Company Name</p>
        </div>
        <div class="h-full flex flex-col">
          <p class="text-gray-700 my-auto">
            Full Time . 2 days ago
          </p>
        </div>
      </div>

      <div class="w-full bg-white h-32 flex rounded-lg mb-4 hover:shadow-lg transition-shadow duration-500 ease-in-out">
        <div class="h-full w-32">
          <img src="~/assets/redlogo.png" class="w-16 h-16">
        </div>
        <div class="h-full w-2/5 h-40 flex-col flex justify-center">
          <h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
          <p class="px-4 text-sm text-gray-700">Company Name</p>
          <p class="px-4">Company Name</p>
        </div>
        <div class="h-full flex flex-col">
          <p class="text-gray-700 my-auto">
            Full Time . 2 days ago
          </p>
        </div>
      </div>

      <div class="w-full bg-white h-32 flex rounded-lg mb-4 hover:shadow-lg transition-shadow duration-500 ease-in-out">
        <div class="h-full w-32">
          <img src="~/assets/redlogo.png" class="w-16 h-16">
        </div>
        <div class="h-full w-2/5 h-40 flex-col flex justify-center">
          <h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
          <p class="px-4 text-sm text-gray-700">Company Name</p>
          <p class="px-4">Company Name</p>
        </div>
        <div class="h-full flex flex-col">
          <p class="text-gray-700 my-auto">
            Full Time . 2 days ago
          </p>
        </div>
      </div>

      <div class="w-full bg-white h-32 flex rounded-lg mb-4 hover:shadow-lg transition-shadow duration-500 ease-in-out">
        <div class="h-full w-32">
          <img src="~/assets/redlogo.png" class="w-16 h-16">
        </div>
        <div class="h-full w-2/5 h-40 flex-col flex justify-center">
          <h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
          <p class="px-4 text-sm text-gray-700">Company Name</p>
          <p class="px-4">Company Name</p>
        </div>
        <div class="h-full flex flex-col">
          <p class="text-gray-700 my-auto">
            Full Time . 2 days ago
          </p>
        </div>
      </div>

      <div class="w-full bg-white h-32 flex rounded-lg mb-4 hover:shadow-lg transition-shadow duration-500 ease-in-out">
        <div class="h-full w-32">
          <img src="~/assets/redlogo.png" class="w-16 h-16">
        </div>
        <div class="h-full w-2/5 h-40 flex-col flex justify-center">
          <h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
          <p class="px-4 text-sm text-gray-700">Company Name</p>
          <p class="px-4">Company Name</p>
        </div>
        <div class="h-full flex flex-col">
          <p class="text-gray-700 my-auto">
            Full Time . 2 days ago
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="bg-white">
    <div class="flex">
					<h1 class="text-3xl mt-10 mb-10 mx-auto">
						Similar Jobs
					</h1>
		</div>
      <div class="w-2/3 mx-auto pt-16 pb-16 flex">
        
        <div class="w-3/5 h-40 border-2 mr-4 hover:border-gray-500 flex-row rounded-lg">
          <div class="w-20 mb-4">
            <img src="~/assets/redlogo.png" class="w-16 h-16">
          </div>
          <h1 class="text-sm font-bold ml-2">Company name</h1>
          <p class="text-xs text-gray-600 ml-2 mb-2">Company Location & job count</p>
          <hr class="">
            <div class="flex flex-row">  
              <div class="ml-2 mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path class="heroicon-ui" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/></svg>
              </div>
              <div class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
              </div>
            </div>
        </div>
    
         <div class="w-3/5 h-40 border-2 mr-4 hover:border-gray-500 flex-row rounded-lg">
          <div class="w-20 mb-4">
            <img src="~/assets/redlogo.png" class="w-16 h-16">
          </div>
          <h1 class="text-sm font-bold ml-2">Company name</h1>
          <p class="text-xs text-gray-600 ml-2 mb-2">Company Location & job count</p>
          <hr>
            <div class="flex flex-row">  
              <div class="ml-2 mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path class="heroicon-ui" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/></svg>
              </div>
              <div class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
              </div>
            </div>
        </div>

         <div class="w-3/5 h-40 border-2 mr-4 hover:border-gray-500 flex-row rounded-lg">
          <div class="w-20 mb-4">
            <img src="~/assets/redlogo.png" class="w-16 h-16">
          </div>
          <h1 class="text-sm font-bold ml-2">Company name</h1>
          <p class="text-xs text-gray-600 ml-2 mb-2">Company Location & job count</p>
          <hr>
            <div class="flex flex-row">  
              <div class="ml-2 mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path class="heroicon-ui" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/></svg>
              </div>
              <div class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
              </div>
            </div>
        </div>

        <div class="w-3/5 h-40 border-2 mr-4 hover:border-gray-500 flex-row rounded-lg">
          <div class="w-20 mb-4">
            <img src="~/assets/redlogo.png" class="w-16 h-16">
          </div>
          <h1 class="text-sm font-bold ml-2">Company name</h1>
          <p class="text-xs text-gray-600 ml-2 mb-2">Company Location & job count</p>
          <hr>
            <div class="flex flex-row">  
              <div class="ml-2 mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path class="heroicon-ui" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/></svg>
              </div>
              <div class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
              </div>
            </div>
        </div>

      </div>
      <div class="flex">
            <a href="#"
            class="border-2 py-2 mx-auto px-6 border-red-600 text-red-600 rounded mb-10"
            >
              See All Companies -->
            </a>
        </div>
            <div class="">  
              <div id="horizontal-gradient" class="w-2/3 h-32 mx-auto rounded flex items-center">
                  <p class="mx-auto text-white flex flex-row items-center">
                    <img src="~/assets/star.jpg" style="height:25px; width:25px;" class="">
                    See jobs where you'd be a top applicant 
                    <a href="#"
                      class="ml-2 border-2 border-white px-2 py-2 bg-white text-red-600 rounded hover:bg-gray-200"
                    >
                      Upgrade Now
                    </a>
                  </p>
              </div>
            </div>
      </div>
  <div class="bg-gray-300 w-full pt-10 pb-16">
      <div class="flex">
					<h1 class="text-3xl mt-10 mb-10 mx-auto">
						Blog & Resources
					</h1>
		  </div>
    <div class="container my-2 mx-auto  w-2/3 mb-10">
      <div class="flex flex-wrap -mx-1 lg:-mx-4">

        <div class="my-4 px-1 w-full flex">
            <div class="flex-row w-full max-w-sm overflow-hidden mr-4 rounded border bg-white hover:shadow-xl transition-shadow duration-500 ease-in-out mx-auto">
              <div class="relative">
                    <a href="#">    
                        <img class="w-full object-fill h-32" src="~/assets/testpic.jpeg">
                    </a>
                </div>

                <div class="p-3">
                <h3 class="mr-10 text-sm truncate-2nd">
                    <a class="hover:text-blue-500">Title Title</a>
                </h3>
                <div class="flex items-start justify-between">
                    <p class="text-xs text-gray-500">description</p>
                </div>
                </div>
            </div>
            <div class="flex-row w-full max-w-sm overflow-hidden mr-4 rounded border bg-white hover:shadow-xl transition-shadow duration-500 ease-in-out mx-auto">
              <div class="relative">
                    <a href="#">    
                        <img class="w-full object-fill h-32" src="~/assets/testpic.jpeg">
                    </a>
                </div>

                <div class="p-3">
                <h3 class="mr-10 text-sm truncate-2nd">
                    <a class="hover:text-blue-500">Title Title</a>
                </h3>
                <div class="flex items-start justify-between">
                    <p class="text-xs text-gray-500">description</p>
                </div>
                </div>
            </div>
            <div class="flex-row w-full max-w-sm overflow-hidden rounded border bg-white hover:shadow-xl transition-shadow duration-500 ease-in-out mx-auto">
              <div class="relative">
                    <a href="#">    
                        <img class="w-full object-fill h-32" src="~/assets/testpic.jpeg">
                    </a>
                </div>

                <div class="p-3">
                <h3 class="mr-10 text-sm truncate-2nd">
                    <a class="hover:text-blue-500">Title Title</a>
                </h3>
                <div class="flex items-start justify-between">
                    <p class="text-xs text-gray-500">description</p>
                </div>
                </div>
            </div>
        </div>
      </div>
    </div>
       <div class="flex">
          <a href="#"
          class="border-2 py-2 mx-auto px-6 border-red-600 text-red-600 rounded"
          >
            See All Companies -->
          </a>
      </div>
  </div>
</div>
</template>
<style>
    #horizontal-gradient {
  background: linear-gradient(to right, #FD4E33, #DE2475);
    }
  </style>
<script>
export default {
  //
}
</script>