<template>
	<div>
		<div class="bg-gray-300 hidden lg:block">
			<div 
				class="bg-white"
				:class="{
					'static lg:sticky lg:top-0 lg:shadow-b': scrolling
				}"
			>
				<div class="w-2/3 mx-auto h-full bg-white mb-16">
					<div class="w-full" :class="{'hidden': scrolling}">
						<h1><----- Back</h1>
					</div>

					<div 
						class="flex w-full justify-between mt-12"
						:class="{
							'pb-12': !scrolling
						}" 
					>
						<div class="my-auto" :class="{'hidden': !scrolling}">
							<h1><----- Back</h1>
						</div>
						<div 
							class="flex w-1/2"
							:class="{
								'w-2/5': scrolling
							}"
						>
							<div class="w-1/5 shadow-sm flex">
								<a href="" class="my-auto">
									<img src="~/assets/images/samplelogo.png" class="h-16 w-24">
								</a>
							</div>

							<div class="w-4/5">
								<p 
									class="text-xs text-gray-700"
									:class="{
										'hidden': scrolling
									}"
								>
									Posted On: 5 days ago| 105 total views, 3 today
								</p>
								<h1 
									class="text-3xl font-bold"
									:class="{
										'hidden': scrolling
									}"
								>
									Type Something 49
								</h1>
								<h1 
									class="text-md font-bold"
									:class="{
										'hidden': !scrolling
									}"
								>
									Type Something 49
								</h1>
								<a href="">
									<p class="text-xs text-gray-700">
										Mirko entertainment. https//mariko.blogspot.com/.
									</p>
								</a>
								<p class="text-xs text-gray-700">
									Remote. Salary-1,000,000 MMK (Negotiable)
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="my-auto mr-4 flex text-red-700">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/></svg>
								<a href="" class="text-xs font-gray-700 ml-2">
									Share with friends
								</a>
							</div>
							<div class="my-auto mr-4 flex text-red-700">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
								<a href="" class="text-xs font-gray-700 ml-2">Add to interest list</a>
							</div>
							<div class="my-auto">
								<a href="" class="bg-red-600 rounded px-2 py-4 text-xs text-white">Apply This job Here</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="w-full mx-auto">
				<div class="bg-gray-300 w-2/3 mx-auto pb-32">
					<div class="w-full h-64 flex">
						<div class="w-2/3 bg-white p-4 rounded">
							<h1 class="mb-4 font-bold">Title Here</h1>
							<p class="text-sm mb-2">
								Must have good English skills.Must have good English skillsMust have good English skillsMust have good English skillsMust have good English skillsMust have good English skills
							</p>
							<p class="text-sm mb-2">Ideal candidate</p>
							<p class="text-sm"> 
								Must have good English skills.Must have good English skillsMust have good English skillsMust have good English skillsMust have good English skillsMust have good English skills
							</p>
						</div>
						<div class="bg-gray-500 ml-8 w-1/3 flex rounded">
							<h1 class="m-auto">Ads</h1>
						</div>
					</div>
				</div>

				<div class="w-2/3 mx-auto pb-16">
					<div>
						<h1 class="text-3xl mb-4">
							Similar Jobs
						</h1>
					</div>
					<div class="w-full bg-white h-32 flex rounded-lg mb-4">
						<div class="h-full w-32">
							<img src="~/assets/redlogo.png" class="w-24 h-32">
						</div>
						<div class="h-full w-2/5 flex-col flex justify-center">
							<h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
							<p class="px-4 text-sm text-gray-700">Company Name</p>
							<p class="px-4">Company Name</p>
						</div>
						<div class="h-full flex flex-col">
							<p class="text-gray-700 my-auto">
								Full Time . 2 days ago
							</p>
						</div>
					</div>

					<div class="w-full bg-white h-32 flex rounded-lg mb-4">
						<div class="h-full w-32">
							<img src="~/assets/redlogo.png" class="w-24 h-32">
						</div>
						<div class="h-full w-2/5 flex-col flex justify-center">
							<h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
							<p class="px-4 text-sm text-gray-700">Company Name</p>
							<p class="px-4">Company Name</p>
						</div>
						<div class="h-full flex flex-col">
							<p class="text-gray-700 my-auto">
								Full Time . 2 days ago
							</p>
						</div>
					</div>

					<div class="w-full bg-white h-32 flex rounded-lg mb-4">
						<div class="h-full w-32">
							<img src="~/assets/redlogo.png" class="w-24 h-32">
						</div>
						<div class="h-full w-2/5 flex-col flex justify-center">
							<h1 class="px-4 text-lg font-bold">Lead Brand Designer</h1>
							<p class="px-4 text-sm text-gray-700">Company Name</p>
							<p class="px-4">Company Name</p>
						</div>
						<div class="h-full flex flex-col">
							<p class="text-gray-700 my-auto">
								Full Time . 2 days ago
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="lg:hidden bg-gray-300 py-16">
			<div class="bg-white px-4 pb-4 border-b">
				<p class="text-gray-700 text-xs mb-4">
					Posted On: 47 mins ago| 1 total views, 1 today
				</p>
				<div class="flex">
					<div class="w-1/4">
						<img src="~/assets/redlogo.png">
					</div>
					<div class="w-3/4">
						<h1 class="font-bold">
							Lead Brand Designer
						</h1>
						<p class="text-sm">
							Company name
						</p>
						<a href="" class="text-sm text-red-700">
							www.website.com
						</a>
						<p class="text-gray-700 text-sm">
							MMK 400,000 - MMK 700,000
						</p>
						<p class="pl-2 text-gray-500 text-xs">
							FULL TIME . 2days ago
						</p>
					</div>
				</div>
			</div>
			<div class="bg-white p-4">
				<div class="flex justify-between">
					<a href="" class="ml-4 mr-8">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/></svg>
					</a>
					<a href="" class="mr-8">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
					</a>
					<a href="" class="bg-red-600 px-4 py-2 text-white text-sm rounded ml-2">
						Apply this job here
					</a>
				</div>
			</div>

			<div class="bg-white px-4 mt-2 pt-4">
				<h1 class="font-bold mb-4">
					Job Description
				</h1>

				<p class="text-gray-700 text-sm mb-8">
					- At lease two years of experience in development with PHP language
					- Must have experience in Laravel Framework
					- Experience in development with Vue would be added advantage. 
					- Familiar with version control system Git
					- Experience in cloud(like AWS / Aliyun) would be added advantage.
					- Able to work independently with minimal supervision
				</p>

				<h1 class="font-bold mb-4">
					Office Location
				</h1>

				<p class="font-gray-700 text-sm mb-8">
					Hlaing Tsp
				</p>

				<h1 class="font-bold mb-4">
					Apply for this position
				</h1>

				<p class="text-gray-700 text-sm mb-8">
					Please kindly send your resume to hr@techcode.com.sg
				</p>

				<p class="text-gray-700 text-sm mb-8">
					OR
				</p>
				<div class="h-16 flex mb-8">
					<a href="" class="bg-red-600 rounded px-4 w-full mx-auto py-4 text-center my-auto">
						Apply This Job Here
					</a>
				</div>
				<h1 class="font-bold mb-4 text-gray-700">
					Share with friends
				</h1>
				<div class="flex mb-8">
					<ul class="flex justify-between items-center text-sm text-gray-700">
						<li class="mr-4">
							<a href="">
								<img src="~/assets/images/fbicon.png" class="w-6 h-6">
							</a>
						</li>
						<li class="mr-4">
							<a href="">
								<img src="~/assets/images/fbicon.png" class="w-6 h-6">
							</a>
						</li>
						<li class="mr-4">
							<a href="">
								<img src="~/assets/images/fbicon.png" class="w-6 h-6">
							</a>
						</li>
						<li class="mr-4">
							<a href="">
								<img src="~/assets/images/fbicon.png" class="w-6 h-6">
							</a>
						</li>
						<li class="mr-4">
							<a href="">
								<img src="~/assets/images/fbicon.png" class="w-6 h-6">
							</a>
						</li>
					</ul>
				</div>
				<p class="text-gray-700 text-xs">
					Posted On: 47minutes ago | 1 total views, 1 today
				</p>
			</div>

			<div class="bg-white mt-4 px-4">
				<h1 class="font-bold text-xl mb-4">
					Company Profile
				</h1>
				<div class="flex">
					<div class="w-1/5">
						<a href="">
							<img src="~/assets/redlogo.png" class="w-24 h-24">
						</a>
					</div>
					<div class="w-4/5">
						<div class="flex justify-start">
							<div>
								<h1 class="text-sm">Company Name</h1>
								<a href="" class="text-sm">www.website.com</a>
							</div>
							<div>
								<a href="" class="text-red-500 uppercase text-sm ml-2">View Profile</a>
							</div>
						</div>	
						<div>
							<p class="text-xs text-gray-700 leading-tight">
								The first, the fast and the best onlne delivery service
							</p>
						</div>	
					</div>
				</div>
			</div>
			<div class="flex mt-8">
				<h1 class="text-2xl font-bold mx-auto">
					Similar Jobs
				</h1>
			</div>
			<div class="px-2 mx-auto">
				<div class="bg-white mb-2">
					<div class="flex">
						<div class="w-1/4">
							<img src="~/assets/redlogo.png" class="w-24 h-24">
						</div>
						<div class="flex flex-col justify-center">
							<h1 class="font-bold">
								Lead Brand Designer
							</h1>
							<p class="text-gray-500 text-xs">
								<a href="">
									Company name
								</a>
							</p>
							<p class="text-sm text-gray-700">
								MMK 400,000 - 800,000
							</p>
							<p class="text-xs text-gray-700 ml-2">
								FULL TIME  .  2days ago
							</p>
						</div>
					</div>
				</div>
				<div class="bg-white mb-2">
					<div class="flex">
						<div class="w-1/4">
							<img src="~/assets/redlogo.png" class="w-24 h-24">
						</div>
						<div class="flex flex-col justify-center">
							<h1 class="font-bold">
								Lead Brand Designer
							</h1>
							<p class="text-gray-500 text-xs">
								<a href="">
									Company name
								</a>
							</p>
							<p class="text-sm text-gray-700">
								MMK 400,000 - 800,000
							</p>
							<p class="text-xs text-gray-700 ml-2">
								FULL TIME  .  2days ago
							</p>
						</div>
					</div>
				</div>
				<div class="bg-white mb-2">
					<div class="flex">
						<div class="w-1/4">
							<img src="~/assets/redlogo.png" class="w-24 h-24">
						</div>
						<div class="flex flex-col justify-center">
							<h1 class="font-bold">
								Lead Brand Designer
							</h1>
							<p class="text-gray-500 text-xs">
								<a href="">
									Company name
								</a>
							</p>
							<p class="text-sm text-gray-700">
								MMK 400,000 - 800,000
							</p>
							<p class="text-xs text-gray-700 ml-2">
								FULL TIME  .  2days ago
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				scrolling: false,
				lastScrollPosition: 0
			}
		},

		mounted() {
			window.addEventListener('scroll', this.onScroll)
		},

		beforeDestory() {
			window.removeEventListener('scroll', this.onScroll)
		},

		methods: {
			onScroll () {
				console.log('abc')
				if (window.pageYOffset < 0) {
			        return
			    }
				const currentScrollPosition = window.pageYOffset || document.documentElement.scrollTop
				
				this.scrolling = currentScrollPosition > this.lastScrollPosition

			}
		}
	}
</script>