<template>
	<div class="bg-white mb-8">
		<div class="mt-12 flex flex-col">
			<p class="text-gray-700 mx-auto mb-4">Type something 49</p>
			<p class="text-2xl text-gray-900 mx-auto">
				Get an email of all new developer job posts
			</p>
			<div class="flex mx-auto w-full justify-center mt-4">
				<input class="w-1/4 bg-gray-300 h-10 rounded px-2" type="text" name="email" placeholder="E-Mail">
				<button class="h-10 w-32 bg-red-600 rounded-r">Subscribe Now</button>
			</div>
			<p class="text-2xl text-gray-900 mx-auto mt-12">Our Partner</p>
			<div class="flex mx-auto w-full justify-center mt-6">
				<div class="h-16 w-1/6 container border mx-2">
					<a href="">	
						<img src="~/assets/images/samplelogo.png" class="w-full h-full object-fill">
					</a>	
				</div>
				<div class="h-16 w-1/6 container border mx-2">
					<a href="">	
						<img src="~/assets/images/samplelogo.png" class="w-full h-full object-fill">
					</a>
				</div>
				<div class="h-16 w-1/6 container border mx-2">
					<a href="">	
						<img src="~/assets/images/samplelogo.png" class="w-full h-full object-fill">
					</a>
				</div>
			</div>
			<div class="flex justify-between w-2/3 mx-auto mt-16">
				<ul class="flex flex-wrap lg:flex-no-wrap items-center text-xs text-gray-700 font-bold">
					<li class="mr-4">
						<a href="">Jobs</a>
					</li>
					<li class="mr-4">
						<a href="">Premium With Us</a>
					</li>
					<li class="mr-4">
						<a href="">About Us</a>
					</li>
					<li class="mr-4">
						<a href="">Contact Us</a>
					</li>
				</ul>

				<ul class="flex justify-between items-center text-sm text-gray-700">
					<li class="mr-2">
						<a href="">
							<img src="~/assets/images/fbicon.png" class="w-8 h-8 rounded-full">
						</a>
					</li>
					<li class="mr-2">
						<a href="">
							<img src="~/assets/images/twittericon.png" class="w-8 h-8 rounded-full">
						</a>
					</li>
					<li class="mr-2">
						<a href="">
							<img src="~/assets/images/instagramicon.png" class="w-8 h-8 rounded-full">
						</a>
					</li>
				</ul>
			</div>
			<p class="mx-auto text-gray-700 text-xs mt-8">&copy;2017-20 Myanmar Dev Jobs. Made with in yangon</p>
		</div>
	</div>
</template>