<template>
    <div class="bg-white flex items-center">
        <div class="w-full flex items-center">
            <div class="w-full flex justify-between">
                <ul class="h-12 flex items-center ml-4 mr-4 md:ml-16 md:mr-10">
                    <li>
                        <nuxt-link
                            :to="{ name: 'home' }"
                            class="h-8"
                        >
                            <img src="~/assets/logo.svg" alt="Logo" class="w-10">
                        </nuxt-link>
                    </li>
                </ul>
                <ul class="h-12 hidden items-center md:flex">
                    <li>
                        <nuxt-link
                            :to="{name: 'jobs'}"
                            class="text-sm text-gray-700 hover:text-black py-4 px-4"
                        >
                            Jobs
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link
                            :to="{name: 'jobs'}"
                            class="text-sm text-gray-700 hover:text-black py-4 px-4"
                        >
                            Companies
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link
                            :to="{name: 'jobs'}"
                            class="text-sm text-gray-700 hover:text-black py-4 px-4"
                        >
                            Learn
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link
                            :to="{name: 'jobs'}"
                            class="text-sm text-gray-700 hover:text-black py-4 px-4"
                        >
                            Premium
                        </nuxt-link>
                    </li>
                </ul>
                <ul class="h-12 flex items-center mr-1 md:mr-16">
                    <li class="hidden md:flex">
                        <nuxt-link
                            :to="{name: 'jobs'}"
                            class="text-sm text-red-600 py-4 px-4 hover:text-red-500"
                        >
                            Register
                        </nuxt-link>
                    </li>
                    <li class="mr-2">
                        <nuxt-link
                            :to="{name: 'jobs'}"
                            class="text-sm text-red-600 py-4 px-4"
                        >
                            <p class="border-2 rounded border-red-600 px-2 py-1 w-16 hover:bg-gray-100">
                                Sign in
                            </p>
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link
                            :to="{name: 'jobs'}"
                            class="text-sm text-white py-4 px-4"
                        >
                            <p class="border-2 bg-red-600 rounded border-red-600 px-1 py-1 hover:bg-red-500">
                                Post A Job
                            </p>                          
                        </nuxt-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    //
}
</script>>